body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

.dashboard {
  display: grid;
  grid-template: 150px 1fr / 0.25fr 1fr;
  grid-template-areas: "left-panel header"
                        "left-panel projects";
  width: 100vw;
  height: 100vh;
}

.dashboard-icon {
  margin-left: 6px;
  margin-right: 6px;
}

.left-panel {
  grid-area: left-panel;
  background-color: #1992d4;
}

.left-panel-item.left-panel-header {
  font-size: 24px;
  margin-bottom: 32px;
}

.left-panel-item {
  margin: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.left-panel-item > a {
  text-decoration:none;
  color: white;
}

.left-panel-item.left-panel-settings {
  margin-top: 64px;
}

#header {
  grid-area: header;
  display: grid;
  grid-template: 1fr 1fr / 1fr;
  background-color: white;
  margin: 20px 40px 20px 40px;
}

#header-top, #header-bottom {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  align-items: center;
}

#header-top-left {
  display: grid;
  grid-template: 1fr / auto 1fr;
}

#header-top-right {
  display: grid;
  margin-left: auto;
  margin-right: 16px;
  align-items: center;
  grid-template: 1fr / auto auto 1fr;
}

.profile-name {
  font-weight: bold;
}

.profile-picture {
  margin: 0px 16px;
}

#header-bottom-left {
  display: grid;
  grid-template: 1fr 1fr / auto 1fr;
}

.header-button {
  border-radius: 10px;
  min-width: 90px;
  min-height: 32px;
  margin-left: 16px;
  margin-right: 16px;
  background-color: #1992d4;
  color: white;
  font-size: medium;
  border: none;
}

#search {
  border-radius: 15px;
  background-color: #e2e8f0;
  border: none;
}

#header-bottom-right {
  display: flex;
  justify-content: right;
}

#greetings-icon {
  grid-area: 1 / 1 / 3 / 1;
}

#greetings-text {
  grid-area: 1 / 2 / 2 / 2;
  display: flex;
  align-items: flex-end;
  font-weight: bold;
}

#greetings-user {
  grid-area: 2 / 2 / 3 / 2;
  font-size: x-large;
  font-weight: bold;
}

#projects {
  grid-area: projects;
}

#main {
  display: grid;
  grid-template: 1fr / 1fr auto;
  background-color: #e2e8f0;
}

#main-projects {
  display: grid;
  grid-template: auto 1fr / 1fr;
  margin-left: 20px;
  margin-right: 20px;
}

#main-side {
  margin-right: 40px;
}

#main-projects-projects {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
}

.project {
  border: none;
}

#announcements {
  display: grid;
  grid-template-columns: 1fr;
}

#announcements-content, #trending-content, .project {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
}

.project {
  margin-right: 20px;
  margin-bottom: 20px;
}

.dashboard-header {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: large;
  font-weight: bold;
}

#trending {
  display: grid;
  grid-template-columns: 1fr;
}

#announcements-content, #trending-content {
  width: 200px;
}

#trending-content {
  display: grid;
  grid-template: auto / 1fr;
  gap: 16px;
}

.trending-content-item {
  display: flex;
}

.trending-content-item-right {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.announcements-content-item-header {
  font-weight: bold;
}